* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
ul li {
    list-style-type: none;
}
p, form, ol, ul, li, dl, dt, dd, h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}